NODE_ENV=production
PORT=8383

POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret123
POSTGRES_DB=nest_app
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6380
REDIS_TTL=3600

#Host: localhost
#Port: 5433
#Database: nest_app
#User: postgres
#Password: secret123
